 {% extends "base.html.twig" %}
 
 {% block content %}
    <span id='fecha-disposicion'></span>
    <div id="contenedor-mesas" style="width: 100%; min-width: 1200px; overflow: scroll;">
        <div id="sala" style=""></div>
        <div id="almacen" style=""></div>
    </div>
 {% endblock %}