 {% extends "base.html.twig" %}
 
 {% block content %}

    <span id='fecha-disposicion'></span>
    {# <input type="button" id='default-dispo' value='Disposicion por defecto'>
    <input type="button" id='btnNewMesa' value='Nueva mesa'> #}

    <div id="sala" style=""></div>
    <div id='contenedor-juegos'></div>

    <button id='btnReservar'>Reservar</button>

 {% endblock %}