@mixin btn(){
    border: none;
    background: $color-terc;
    min-width: 30%;
    border-radius: 23px;
    color: $color-princip;
    transition: all 0.4s;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
}

.boton{
    @include btn();
    &--text-blanco{
        color: $color-terc;
    }
    &--text-negro{
        color: $color-cuart;
    }
    &--secundario{
        background: none;
        border: 3px solid $color-terc;
        color: $color-terc;
    }
}

@media (max-width:1000px) and (min-width:700px) {
    .boton{
        min-width: 25%;
        padding: 8px 25px;
        font-size: 80%;
    }
}