 .mesa{
    background-image: url('../images/brand/mesa2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: getBorder(1);
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.35);
 }

 #contenedor-mesa{
   display: flex;
}

.reservada{
   border: 4px solid rgb(240, 88, 88);
}
.noReservada{
   border: 4px solid rgb(126, 240, 88);
}

.noReservada:hover{
   .opcMesa{
      visibility: visible;
      opacity: 1;
   }
}

.opcMesa{
   z-index: 1;
   background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.35) 100%);

   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.5s linear;

   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
   justify-content: space-between;
   padding: 2% 4%;

   & i:hover{
      transform: scale(1.4);
   }
}