.perfil{
    display: grid;
    grid-template-areas: "foto datos";
    margin-top: 20%;
    align-items: center;

    & img{
        grid-area: foto;
        text-align: center;
        width: 125px;
        background-color: $color-princip;
        padding: 6%;
        border-top-left-radius: getBorder(2);
        border-bottom-left-radius: getBorder(2);
    }
    &__otros{
        width: 275px;
        grid-area: datos;
        background: $color-gradient;
        padding: 20% 8%;
        border-radius: getBorder(2);
        box-shadow: getShadow(10);
        text-align: center;
        color: white;
        & p{
            color: white;
        }
    }
}