.c-tabla{
    overflow: auto;
    /* border-collapse:separate; */ 
    background: $color-gradient;

    border: 3px solid $color-princip;
    border-radius: getBorder(1);
    max-width: 100%;

    & thead{
        height: 50px;
        width: 100%;
        
        color: $color-terc;
        background-color: $color-princip;
        font-weight: bold;

        & tr th{
            vertical-align: middle;
            text-align: center;
            min-width: 50px;
            padding: 0px 8px;
            overflow: hidden;
        }
    }
    
    & tbody{
        
        & tr{
            
            &:nth-child(odd){
                &:hover{
                    background-color:  rgb(210, 210, 210);
                }
                background-color: $color-terc;
            }
            &:nth-child(even){
                &:hover{
                    background-color: rgb(210, 210, 210);
                }
                background-color: rgb(239, 239, 239);
            }
            
            & td{
                padding: 10px 10px;
                
                vertical-align: middle;
                text-align: center;
                
                border: 1px solid $color-princip;
                height: 50px;
                
                min-height: 50px;
                max-width: 200px;
                
                & img{
                    max-height: 100px;
                    max-width: 100px;
                }
                
                & a{
                    & img{
                        &:hover{
                            transform: scale(1.25);
                        }
                        transition: transform .2s;
                        max-height: 25px;
                        max-width: 25px;
                    }
                }
            }
        }
    } 
}

@media (max-width:1200px) {
    .c-tabla{
        & thead tr th, & tbody tr td{
                font-size: 0.9em;
        }
    }
}
@media (max-width:765px) {
    .c-tabla{
        & thead tr th, & tbody tr td{
                font-size: 0.7em;
                padding: 10px 5px;
        }
    }
}
