{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="mb-3">Gestion Eventos</h1>

    <table id="tablaReservas" class="c-tabla mt-2">
        <thead>
            
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}