{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="mb-3">Gestion Eventos</h1>
    <a href='{{ absolute_url(path('app_new_evento')) }}' class='boton boton--morado'>Crear</a>

    <table id="tablaReservas" class="c-tabla mt-2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Imagen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}