{% extends 'base.html.twig' %}

{% block content %}
    <table id="tablaReservas">
        <thead>
            <tr>Nombre</tr>
            <tr>Descrip</tr>
            <tr>Img</tr>
            <tr>Fecha</tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}